body{
    background-color: #d2691e;
    width: 960px;
    margin: auto;
}
h1{
    text-decoration: dotted 2px #a52a2a;
}
li{
    display: inline;
    padding: 6px;
    min-width: 50px;
    border-right:2px solid white;
    color: white;
    
}
h2{
    width: 96%;
    background-color: #cd853f;
    font-style: italic;
}
p{
    text-align: justify;
}
.hasab{
    max-width: 450px;
    margin-right: 20px;
    float: left;
}
img{
    float: left;
    width: 100px;
    border: solid 2px #a52a2a;
}